/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Filson Pro';
  src: url('filsonprolight-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Filson Pro';
  src: url('filsonproregular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Filson Pro';
  src: url('filsonpromedium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'neogrotesk_probold';
  src: url('fontspring-demo-neogroteskpro-bold-webfont.woff2') format('woff2'),
       url('fontspring-demo-neogroteskpro-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Abhaya Libre';
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Header styles */

.HeaderContainer {
  background-color: #FFDCD3;
  display: flex;
  justify-content: center;
  padding: 4px 0px;
}

.HeaderContainer span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #444950;
}

/* End Header styles */

/* Main content styles */

.Tittle {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #444950;
  position: relative;
  z-index: 2;
}

.Tittle::before {
  content: "";
  display: inline-flex;
  width: 70px;
  height: 24px;
  background-color: #CAF0FF;
  border-radius: 100px;
  position: absolute;
  top: 22%;
  z-index: -1;
}

.contenedor_tamanio {
  width: 100%;
  padding: 29px 33px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.arrowContainers {
  display: flex;
  gap: 8px;
}

.toggleArrow {
  position: relative;
  background-color: #FFDCD3;
  width: 70px;
  height: 24px;
  border-radius: 100px;
}

.leftArrow {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -38%;
  left: 22%;
  transition: transform .3s ease;
}

.leftArrow:hover {
  transform: scale(1.10);
}

.rightArrow {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -38%;
  left: 27%;
  transition: transform .3s ease;
}

.rightArrow:hover {
  transform: scale(1.10);
}

.leftArrow img {
  width: 20px;
  height: 12px;
  object-fit: contain;
  transform: rotate(180deg);
}

/* product styles */

.productsContainer{
  display: flex;
  flex-direction: column;
  gap: 41px;
  background-color: #F5F5F5;
  padding: 0 0 50px 30px;
}

.cardsContainer{
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  gap: 16px;
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

.imageContainer{
  width: 100%;
  height: 247px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 14px;
  border: none;
}

.productCard{
  width: 247px;
  min-width: 247px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.discountTag{
  font-family: Inter;
  background-color: #FFC658;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #444950;
  border-radius: 100px;
  width: 59px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3%;
  right: 5%;
}

.productButton{
  background: #FFFFFF;
  opacity: 0.9;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.productLink{
  color: #EFA693;
  font-family: 'inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.productLink:hover{
  color: #f89177;
}

.productButton:hover{
  transform: scale(1.05);
}

.productName{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #444950;
  font-family: 'Filson Pro';
}

.productQuality{
  display: flex;
  gap: 6px;
  align-items: center;
}

.productQuality span{
  font-family: 'Filson Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #939393;
}

.productStars{
  display: inherit;
}

.star{
  width: 17px;
  height: 17px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.priceContainer{
  display: inherit;
  gap: 8px;
}

.regularPrice{
  font-family: 'Filson Pro';
  font-weight: 350;
  font-size: 15px;
  line-height: 27px;
  text-align: right;
  text-decoration-line: line-through;
  color: #939393;
}

.discountedPrice{
  font-family: 'Filson Pro';
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  text-align: right;
  color: #444950;
}

.browse{
  background: #EFA693;
  opacity: 0.9;
  border: 1px solid #EFA693;
  border-radius: 100px;
  width: 237px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.browseLink{
  color: white;
  font-family: 'inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.browseLink:hover{
  color: #ffffff;
}

.browse:hover{
  transform: scale(1.05);
}

/* end main content styles */

/* Footer Styles */

.footer{
  background-image: url("img/Footer_fondo2.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  background-color: #F5F5F5;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  padding: 60px 20px;
  position: relative;
}

.footerText{
  display: inherit;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 757px;
}

.footer h3{
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #444950;
}

.footer p{
  font-family: 'Filson Pro';
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  color: #939393;
  max-width: 440px;
}

.newsletterForm{
  display: inherit;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
  width: 100%;
  align-items: center;
}

.newsletterForm input[type="email"]{
  background: #FFFFFF;
  border: 1px solid #EFA693;
  border-radius: 100px;
  padding: 10px 24px;
  font-family: 'Filson Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  color: #444950;
  width: 100%;
  transition: all .3s ease;
}

.newsletterForm input[type="email"]:hover{
  border: 1px solid #939393;
}

.newsletterForm input::placeholder{
  font-family: 'Filson Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  color: #939393;
}

.newsletterForm input[type="submit"]{
  background: #EFA693;
  border: 1px solid #EFA693;
  border-radius: 100px;
  padding: 12px 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 200px;
  color: white;
  transition: all .3s ease;
}

.newsletterForm input[type="submit"]:hover{
  transform: scale(1.05);
}


.footer_image{
  position: absolute;
}

/* Blur Pill */

.footer_image:nth-of-type(1){
  width: 60px;
  height: 70px;
  top: 32%;
  left: 2%;
}

/* Blue Pill */

.footer_image:nth-of-type(2){
  top: 58%;
  right: 18%;
  width: 35px;
  height: 35px;
}

/* Gray Pill */

.footer_image:nth-of-type(3){
  top: 39%;
  right: 5%;
  width: 45px;
  height: 45px;

}

/* Green Pill */

.footer_image:nth-of-type(4){
  top: 14%;
  width: 25px;
  height: 25px;
  left: 6%;
}

/* Pink Pill */

.footer_image:nth-of-type(5){
  top: 16%;
  right: 50%;
  width: 30px;
  height: 30px;
}

/* Mobile devices responsive style */ 

@media screen and (min-width: 481px) and (max-width: 768px){
  /* Header styles */

  .HeaderContainer {
    padding: 4px 0px;
  }

  .HeaderContainer span {
    font-size: 14px;
    line-height: 20px;
  }

  /* End Header styles */

  /* Main content styles */

  .Tittle {
    font-size: 30px;
    line-height: 38px;
  }

  .contenedor_tamanio {
    padding: 29px 33px;
    gap: 33px;
  }

  /* product styles */

  .productsContainer{
    gap: 41px;
  }

  .productStars{
    display: inherit;
  }

  /* end main content styles */

  /* Footer Styles */

  .footer{
    gap: 16px;
    height: 550px;
    padding: 60px 70px;
  }

  .footerText{
    display: inherit;
    flex-direction: column;
    gap: 40px;
  }

  .footer h3{
    font-size: 30px;
    line-height: 38px;
  }

  .footer p{
    font-size: 17px;
    line-height: 29px;
  }

  .newsletterForm{
    gap: 12px;
  }

  .newsletterForm input[type="email"]{
    font-size: 17px;
    line-height: 29px;
  }

  .newsletterForm input::placeholder{
    font-size: 17px;
    line-height: 29px;
  }

  .newsletterForm input[type="submit"]{
    font-size: 16px;
    line-height: 26px;
  }

  /* Blur Pill */

  .footer_image:nth-of-type(1){
    width: 62px;
    height: 72px;
    top: 36%;
    left: 2%;
  }

  /* Blue Pill */

  .footer_image:nth-of-type(2){
    top: 60%;
    right: 10%;
  }

  /* Green Pill */

  .footer_image:nth-of-type(4){
    top: 18%;
    width: 32px;
    height: 32px;
  }

  /* Pink Pill */

  .footer_image:nth-of-type(5){
    top: 24%;
    width: 40px;
    height: 40px;
  }
}

/* Tablets and small devices style*/

@media screen and (min-width: 769px) and (max-width: 1024px){
  /* Header styles */

  .HeaderContainer {
    padding: 4px 0px;
  }

  .HeaderContainer span {
    font-size: 14px;
    line-height: 20px;
  }

  /* End Header styles */

  /* Main content styles */

  .Tittle {
    font-size: 34px;
    line-height: 44px;
  }

  /* end main content styles */

  /* Footer Styles */

  .footer{
    background-image: url("img/Footer_fondo.svg");
    height: 550px;
    padding: 100px 20px;
  }

  .footerText{
    display: inherit;
    flex-direction: column;
    gap: 40px;
  }

  .footer h3{
    font-size: 33px;
    line-height: 44px;
  }

  .newsletterForm{
    gap: 16px;
  }

  .productsContainer{
    padding: 0 0 30px 30px;
  }

  /* Blur Pill */

  .footer_image:nth-of-type(1){
    width: 68px;
    height: 78px;
    top: 65%;
  }

  /* Blue Pill */

  .footer_image:nth-of-type(2){
    top: 68%;
    right: 10%;
    width: 40px;
    height: 40px;
  }

  /* Gray Pill */

  .footer_image:nth-of-type(3){
    right: 2%;
    width: 60px;
    height: 60px;

  }

  /* Green Pill */

  .footer_image:nth-of-type(4){
    top: 34%;
    width: 37px;
    height: 37px;
  }

  /* Pink Pill */

  .footer_image:nth-of-type(5){
    top: 22%;
    right: 60%;
    width: 45px;
    height: 45px;
  }
}

/* Small laptops styles */

@media screen and (min-width: 1025px) and (max-width: 1439px){

  /* Header styles */

  .HeaderContainer {
    background-color: #ff3300;
    padding: 4px 0px;
  }

  .HeaderContainer span {
    font-size: 13px;
    line-height: 18.2px;
  }

  /* End Header styles */

  /* Main content styles */

  .Tittle {
    font-size: 44px;
    line-height: 61.6px;
  }

  .Tittle::before {
    top: 32%;
  }

  .contenedor_tamanio {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* product styles */

  .productsContainer{
    gap: 83px;
    padding: 20px 0 68px 0px;
    align-items: center;
  }

  .imageContainer{
    width: 320px;
    height: 320px;
    border-radius: 15px;
    padding: 10px 14px;
    background-size: cover;
  }

  .productCard:nth-child(2n) .imageContainer {
    height: 398px;
  }

  .productCard{
    width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .productQuality{
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .productStars{
    display: inherit;
  }

  .star{
    width: 17px;
    height: 17px;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .priceContainer{
    display: inherit;
    gap: 8px;
  }

  /* end main content styles */

  /* Footer Styles */

  .footer{
    background-image: url("img/Footer_fondo.svg");
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 73px 0px;
  }

  .footerText{
    flex-direction: column;
    gap: 40px;
    max-width: 757px;
  }

  .footer h3{
    font-size: 44px;
    line-height: 61.6px;
  }

  .newsletterForm{
    display: inherit;
    flex-direction: row;
    gap: 3px;
    max-width: fit-content;
    width: 100%;
  }

  .newsletterForm input[type="email"]{
    width: 360px;
  }

  .newsletterForm input[type="submit"]{
    padding: 12px 24px;
    width: 119px;
  }

  /* Blur Pill */

  .footer_image:nth-of-type(1){
    width: 108px;
    height: 118px;
    top: 65%;
  }

  /* Blue Pill */

  .footer_image:nth-of-type(2){
    top: 68%;
    right: 10%;
    width: 48px;
    height: 48px;
  }

  /* Gray Pill */

  .footer_image:nth-of-type(3){
    right: 2%;
    width: 68px;
    height: 68px;

  }

  /* Green Pill */

  .footer_image:nth-of-type(4){
    top: 24%;
    left: 5%;
    width: 42px;
    height: 42px;
  }

  /* Pink Pill */

  .footer_image:nth-of-type(5){
    top: 33%;
    right: 80%;
    width: 51px;
    height: 51px;
  }
}

/* Desktop devices */

@media screen and (min-width: 1440px){
   /* Header styles */

   .HeaderContainer {
    background-color: #ff3300;
    padding: 4px 0px;
  }

  .HeaderContainer span {
    font-size: 13px;
    line-height: 18.2px;
  }

  /* End Header styles */

  /* Main content styles */

  .Tittle {
    font-size: 44px;
    line-height: 61.6px;
  }

  .Tittle::before {
    top: 32%;
  }

  .contenedor_tamanio {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  /* product styles */

  .productsContainer{
    gap: 83px;
    padding: 20px 0 68px 0px;
    align-items: center;
  }

  .imageContainer{
    width: 320px;
    height: 320px;
    border-radius: 15px;
    padding: 10px 14px;
    background-size: cover;
  }

  .productCard:nth-child(2n) .imageContainer {
    height: 398px;
  }

  .productCard{
    width: 320px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .productQuality{
    display: flex;
    gap: 6px;
    align-items: center;
  }

  .productStars{
    display: inherit;
  }

  .star{
    width: 17px;
    height: 17px;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .priceContainer{
    display: inherit;
    gap: 8px;
  }

  /* end main content styles */

  /* Footer Styles */

  .footer{
    background-image: url("img/Footer_fondo.svg");
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 73px 0px;
  }

  .footerText{
    flex-direction: column;
    gap: 40px;
    max-width: 757px;
  }

  .footer h3{
    font-size: 44px;
    line-height: 61.6px;
  }

  .newsletterForm{
    display: inherit;
    flex-direction: row;
    gap: 3px;
    max-width: fit-content;
    width: 100%;
  }

  .newsletterForm input[type="email"]{
    width: 360px;
  }

  .newsletterForm input[type="submit"]{
    padding: 12px 24px;
    width: 119px;
  }

  /* Blur Pill */

  .footer_image:nth-of-type(1){
    width: 108px;
    height: 118px;
    top: 65%;
  }

  /* Blue Pill */

  .footer_image:nth-of-type(2){
    top: 68%;
    right: 10%;
    width: 48px;
    height: 48px;
  }

  /* Gray Pill */

  .footer_image:nth-of-type(3){
    right: 2%;
    width: 68px;
    height: 68px;

  }

  /* Green Pill */

  .footer_image:nth-of-type(4){
    top: 24%;
    left: 5%;
    width: 42px;
    height: 42px;
  }

  /* Pink Pill */

  .footer_image:nth-of-type(5){
    top: 33%;
    right: 80%;
    width: 51px;
    height: 51px;
  }
}
